$name-base: '.wid-indy';

@import 'utils/mixins';
@import 'themes/fonts';
@import 'themes/variables';
@import 'utils/utils';

#wid-indy-w-container {
  font-family: $font-family-base;
  font-size: $font-md;
  background: color($color-dark, 'primary');
  padding: spacing('lg');
  color: color($color-light, 'primary');
  border-radius: 2px;
  width: 390px;
  min-height: 260px;
  box-shadow: 0 0 5px 0 fade-out(color($color-dark, 'primary'),.6);

  & * {
    box-sizing: border-box;
  }
  textarea {
    min-height: 70px !important;
    line-height: 1.8 !important;
  }

  #{$name-base}-w {
    &-header {
      font-size: $font-lg;
      text-transform: uppercase;
      font-weight: 700;
      font-family: $font-alternative;
      margin-bottom: spacing('md');

      &-link {
        color: color($color-light, 'primary');
        text-decoration: none;
      }
    }

    &-footer {
      display: flex;
      justify-content: space-between;
    }
  }

  #{$name-base}-form-group {
    margin-bottom: spacing('md');
  }

  #{$name-base}-label {
    font-weight: 700;
    font-size: $font-xs;
    text-transform: uppercase;
    margin-bottom: spacing('sm');

    &--light {
      color: color($color-light, 'primary');
    }

    &--success {
      color: color($color-success, 'primary');
    }
  }



  #{$name-base}-input {
    font-family: $font-family-base;
    display: block;
    //flex: 1;
    height: 35px;
    font-size: $font-md;
    padding: spacing('sm') spacing('md');
    width: 100%;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d6d6d6;
    border-radius: 2px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

    &:hover {

      @include input-hover();
    }

    &:focus {
      @include input-focus();
    }

    &--error {
      background: #FFF1F2;
      border-color: rgba(241, 64, 75, 1);
    }
  }

  #{$name-base}-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: calc(100% - 42px);
    opacity: 1;
    visibility: visible;
    transform: translate(0px,10px);
    transition: all .3s ease;
  }
  .is-hide {
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease;
    display: none;
  }
}

#{$name-base}-w-container {
  visibility: hidden;
  opacity: 0;
  transition: all .3s ease-in-out;
  position: fixed;
  right: 10px;
  bottom: 0;
  transform: translate(0px,0px);
  &--open {
    transform: translate(0px,-10px);
    visibility: visible;
    opacity: 1;
    transition: all .3s ease;
  }
}

#{$name-base}-button {
  background: none;
  font-family: $font-family-base;
  font-size: $font-md;
  color: color($color-light, 'primary');
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  text-transform: uppercase;
  padding: spacing('md') spacing('lg');
  font-weight: 700;
  border: none;
  z-index: 999;
  transition: background .2s ease-in-out;
  text-decoration: none;

  &:hover {
    cursor: pointer;
    transition: background .2s ease-in-out;
  }

  &--small {
    padding: spacing('md') spacing('lg');
    font-size: $font-sm;
  }

  &--primary {
    background: color($color-blue, 'primary');

    &:hover {
      background: darken(color($color-blue, 'primary'), 10%);
    }
  }

  &--success {
    background: color($color-success, 'primary');

    &:hover {
      background: darken(color($color-success, 'primary'), 3%);
    }
  }

  &--feedback {
    position: fixed;
    bottom:10px;
    right: 10px;
    box-shadow: 0 0 5px 0 fade-out(color($color-dark, 'primary'),.6);
  }
}

#{$name-base}-btn-group {
  display: flex;
  background: #0A2C45;
  border: 1px solid #051927;
  border-radius: 2px;

  &--error {
    border-color: rgba(241, 64, 75, 1);
  }

  &-item {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    opacity: 1;
    transform: scale(1.1);
    transition: opacity .2s ease-in-out, transform .2s ease-in-out;

    &:not(:last-child) {
      border-right: 1px solid #051927;
    }

    &:hover {
      transition: opacity .2s ease-in-out, transform .2s ease-in-out;
      cursor: pointer;
      transform: scale(1.1);
      opacity: 1;
    }

    &--inactive {
      opacity: .8;
      transform: scale(.9);
      transition: opacity .2s ease-in-out, transform .2s ease-in-out;
    }

  }
}
